body,h1,h2,h3,h4,h5{
font-family: "Poppins", sans-serif;
}
body{
font-size:13px;
}
.w3-half img{
margin-bottom:-6px;
margin-top:16px;
opacity:0.8;
cursor:pointer;
}
.w3-half img:hover{
opacity:1;
}

#myTable {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  font-size: 13px;
  left: 325px;
  top: 150px;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.mySlides {
	display:none;
}